.miniBloco {
  display: flex;
  border: solid 3px rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  background-color: black;
  color: aliceblue;
  justify-content: center;
  align-items: center;
}

.Geral {
  display: grid;

  justify-content: center;
  align-items: center;
  margin: 45px;
text-align: center;
}

.linha {
  display: flex;
}